@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap');
body{
font-family: 'Open Sans', sans-serif;
padding: 0;
margin: 0;
}
h1{
font-weight: 800;
font-size: 50px;
}
h3{
	font-weight: bold;
	font-size: 30px;
}
h4{
font-weight: bold;
font-size: 20px;

}
.wrapper{
width: 960px;
margin: 0 auto;
}
.hero-banner{
background-color: #007FFF;
height: 100vh;
padding: 50px 20px;
box-sizing: border-box;


}
.hero-banner h1{
	color:white;
	margin: 14px 0 20px;

}
.hero-banner h3{
	color:white;
	margin: 0 0 35px;

}
.hero-banner h4{
	color:white;
	margin: 0;
}

.character 1{
background: url(img/untitled2.svg) no-repeat 0 0;
background-size: 100%;
width: 400;
height: 412;
position: absolute; top: 123px; right: 90px;
}
.character 2{

}
.character 3{

}

a.cta,
button.cta{
font-size: 30px;
font-weight: bold;
color: white;
background:#007FFF; 
display: inline-block;
box-shadow: 0 0 0 10px rgba(0,127,255,.15);
padding: 20px 30px;
border-radius: 10px;
text-decoration:none;

}

a.cta.alt,
button.cta.alt{
background-color: #FFD400;
color: #111111;
box-shadow: 0 0 0 10px rgba(0,0,0,.15);
}



/*
<div class="hero-banner">
	 <div class="wrapper">
	 	<h4>Anton von The Master Factory presents</h4>
	 	<h1>A goundshaking personality<br/>
	 	 improvement course</h1>
	 	 <h3>Es ist das neuste und beste<br/>
	 	  was es zurzeit gibt</h3>
	 	  <a class="cta alt" href="#more-info">Read more</a>
	 </div>
	 <div class="character 1"></div>
	 <div class="character 2"></div>
	 <div class="character 3"></div>
	</div>
	*/