@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap');
body{
font-family: 'Open Sans', sans-serif;
padding: 0;
margin: 0;
}
h1{
font-weight: 800;
font-size: 50px;
}
h3{
	font-weight: bold;
	font-size: 30px;
}
h4{
font-weight: bold;
font-size: 20px;

}
.wrapper{
width: 960px;
margin: 0 auto;
}
.hero-banner{
background-color: #007FFF;
min-height: 100vh;
padding: 50px 20px;
box-sizing: border-box;
position: relative;
overflow: hidden;


}
.hero-banner h1{
	color:white;
	margin: 14px 0 20px;

}
.hero-banner h3{
	color:white;
	margin: 0 0 35px;

}
.hero-banner h4{
	color:white;
	margin: 0;
}

.character1{
background: url(img/untitled2.svg) no-repeat 0 0;
background-size: 100%;
width: 500px;
height: 512px;
position: absolute; top: 40px; right: 15%;
}
.character2{

}
.character3{

}

a.cta,
button.cta{
font-size: 30px;
font-weight: bold;
color: white;
background:#007FFF; 
display: inline-block;
box-shadow: 0 0 0 10px rgba(0,127,255,.15);
padding: 20px 30px;
border-radius: 10px;
text-decoration:none;

}

a.cta.alt,
button.cta.alt{
background-color: #FFD400;
color: #111111;
box-shadow: 0 0 0 10px rgba(0,0,0,.15);
}

nav{
	height: 100px;
	background-color: white;
	box-shadow: 0 5px 8px rgba(0,0,0,.2);
	position: sticky;
}

nav .logo{
	display: block;
	width: 300px;
	height: 50px;
	position: absolute; top: 50%; left: 0;
	margin-top: -30px;
	margin-left: 30px;
	background: url(img/untitled3.svg) no-repeat 0 0;
	background-size: 100%;
}
nav ul{
	padding: 0;
	margin: 0;
}
nav ul li{
	padding: 0;
	margin: 0;
}

/*
<nav>
		<a href="#" class="logo"> The Gang</a>
		<ul>
			<li><a href="#">Sign up</a></li>
			<li><a href="#Story">The Story</a></li>
			<li><a href="#more-info">More Info</a></li>
			
		</ul>
	</nav>
	*/